.container {
  max-width: 800px;
  margin: 100px auto 60px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.add-expense {
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.add-expense:hover {
  background-color: #0056b3;
}
